body{
    background-color: aqua;
    
    color: rgb(110, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    margin: 500px 100px 200px 10px;
}