* {
    background-color: bisque;
    text-align: center;
}

h1 {
    color: crimson;
    background-color: aqua;
    margin: 40px auto;
    padding: 50px;
    border: 20px solid yellow;
    border-style: dashed;
    border-width: 10px;
    border-color: darkseagreen; 
    border-radius: 40px 10px 100px 61px;
    text-align: center;
    width: 150px;
   /*Comentario do CSS*/

}

 #conteudo{
    background-color: aqua;
    width: 100%;
    
 }
 .texto{
    width: 100%;
    background-color: chartreuse;
    margin: auto;
 }
 
 #area-login{
   background-color: blue;
   width: 300px;
   border: 2px solid black;
   padding: 50px;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
   margin: auto;
   flex-direction: column;
   gap: 10px;
button{
   margin-top: 50px;
   background-color: crimson;
   border-radius: 20px;
   border: 5px dashed yellow;
   color: aliceblue;
   padding: 25px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 50px;
   font-style: italic;

}
input{
background-color: blueviolet;
border-radius: 10px;
}
input[type="email"]{
   background-color: yellow;
}
button:hover{
   background-color: aqua;
   color: black;
   border: solid 20px green;
   font-size: 25px;

};

 }